<h1>countries</h1>
<ul>
  <%@countries.each do |country|%>
    <%if @user_countries.include?(country)%>
      <li style = "color: red;"><%=country.name%></li>
    <%else%>
      <li><%=country.name%></li>
    <%end%>
  <%end%>
</ul>
